
.container{
    width: 100%;
    height: 100%;
    align-content: center;
    margin-top: 12px;
    background: #fff;
}

body{
    background: #2B2C2E;
}

.tbUsers {
    width: 100%;
}

.tbUsers thead {
    background: #1E90FF;
    text-align: center;
}
.tbUsers thead th {
    border-radius: 5px;
}

/* Modal Historial*/
.historial {
    text-decoration: none;
    background: #457b9d;
    color: #a8dadc;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    margin: 0px;
}

.container_modal {
    width: 250px;
    height: 150px;
    background: #FFF;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    display: none;
    position: fixed;
}

.header_container_modal {
    width: 100%;
    height: 22px;
    display: flex;
    align-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #4B6FA8;
}

.btn_consulta {
    text-decoration: none;
    width: 40%;
    text-align: center;
    color: #FFF;
    font-family: sans-serif;
    padding: 3px;
}

.btn_procedimiento {
    text-decoration: none;
    width: 60%;
    text-align: center;
    color: #FFF;
    font-family: sans-serif;
    padding: 3px;
}

.body_historial {
    width: 100%;
}


/*#4B6FA8*/

